// Variables
@pi: 3.14159265359;
@radius: 7.75rem;

html {
    font-size: 24px;
    font-family: 'Arial';
}

body {
    background: #272727;
    color: white;
    margin: 0;
    height: 100vh;
}

.progress-bar {
    display: flex;

    .phase {
        height: 8px;
        flex-grow: 1;

        &.prep {
            background: gold;
        }
        
        &.work {
            background: springgreen;
        }

        &.rest {
            background: orangered;
        }
    }
}

.time-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16rem;
    margin: 5vh 0;

    .center-time {
        font-size: 10rem;
        color: white;
        transition: 0.2s color ease;
    }

    svg {
        transform: rotate(-90deg);
        width: 16rem;
        height: 16rem;
        position: absolute;

        circle {
            fill: none;
            stroke: #3d3d3d;
            stroke-width: 2px;

            &.progress {
                stroke-width: 0.5rem;
                stroke-linecap: round;
                stroke-dasharray: calc(2 * @pi * @radius);
                stroke-dashoffset: calc(2 * @pi * @radius);
            }

            .generateAnimations(60);
            
            @keyframes dash {
                from {
                    stroke-dashoffset: calc(2 * @pi * @radius);
                }

                to {
                    stroke-dashoffset: 0;
                }
            }
        }
    }


    &.prep {
        .center-time {
            color: gold;
        }

        svg circle.progress {
            stroke: gold;
        }
    }

    &.work {
        .center-time {
            color: springgreen;
        }

        svg circle.progress {
            stroke: springgreen;
        }
    }

    &.rest {
        .center-time {
            color: orangered;
        }

        svg circle.progress {
            stroke: orangered;
        }
    }

}

.rounds-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 5vh 0;

    .rounds {
        font-size: 6rem;
        line-height: 6rem;
    }
}

.button-box {
    display: flex;
    justify-content: center;
    margin: 0 0 5vh 0;
}

button {
    font-size: 2rem;
    color: white;
    background: #3d3d3d;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 16px;
    min-width: 10rem;
    margin: 0 5px;

    transition: 0.2s all ease;

    &:hover {
        background: darken(#3d3d3d, 5%);
    }

    &.hide {
        display: none;
    }

    &.start {
        background: deepskyblue;

        &:hover {
            background: darken(deepskyblue, 5%);
        }
    }

    &.pause {
        background: orangered;

        &:hover {
            background: darken(orangered, 10%);
        }
    }
}

label {
    text-transform: uppercase;
    color: #c4c4c4;
    font-size: 1rem;
}

input {
    background: none;
    border: none;
    min-width: 0;
    font-size: 1rem;
    color: white;
    text-align: right;
    border-bottom: 1px solid #e4e4e4;
}

.config-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .config-row {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 10px 0;

        label {
            flex: 0 0 50%;
        }
    }
}

.generateAnimations(@counter) when (@counter > 0) {

    &.animate-@{counter} {
        animation: dash ~"@{counter}s" linear forwards;
        stroke-dasharray: calc(2 * @pi * @radius);
        stroke-dashoffset: calc(2 * @pi * @radius); 
    }

    .generateAnimations((@counter - 1));
}